h1, h2, h3
{
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	color: rgb(150, 214, 54) ;

	margin-left: 100px;
	margin-right: 100px;
    text-align: center;
}
a{
    font-family: Papyrus, fantasy;
    background-color: blueviolet;
}

main
ul {
    margin-left: auto;
    margin-right: auto;
}
p{
    font-size: xx-large;

}


body
 {
    background-color: rgb(255, 255, 255);

    color: #20afaf ;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border-style: dotted dashed solid groove;
    border-radius: 50pt;
}

footer

    p {
font-size: xx-large;
font: bold;
color: green ;
border-style: dashed;
   }
header
    
    nav
{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: red ;
    border-style: dotted;
    border-radius: 50pt;


}

.center{
    margin-left: auto;

}